body {
    align-items: center;
}

#image2 {
    width: 100%;
}

#preview {
    border-radius: 25px;
    border-width: 5px;
    border-style: solid;
    border-color: white;
    width: 800px;
    height: auto;
}

#div {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
}

#secondarydiv {
    display: flex;
    width: 800px;
    justify-content: left;
}

#buttondiv {
    height: max-content;
}
